<center>
	{% assign researcher = include.researcher %}

	{%- if researcher.picture -%}
		{%- if researcher.url -%}
	    	<a href="{{ researcher.url | relative_url }}">
	        	<img src="{{ researcher.picture | relative_url }}" class="bio-photo-about" alt="{{ researcher.name }}">
	      	</a>
	    {%- endif -%}
	    <br>
  	{%- endif -%}

  	{%- if researcher.name -%}
	    <a href="{{ researcher.url | relative_url }}">
	      	<b>{{ researcher.name}}</b>
	    </a>
    {%- endif -%}
    <br>

  	{%- if include.page == 'researchers' -%}
  		{%- if researcher.position -%}
			{{ researcher.position}}
	    {%- endif -%}
	    <br>
	    {%- if researcher.category -%}
	  		{%- if researcher.category == research and research.department -%}
	  			{{ researcher.department }}
	  		{%- elsif researcher.category != research and research.university -%}
	  			{{ researcher.university}}
	  		{%- endif -%}
	  	{%- endif -%}
  		<br>
  	{%- endif -%}
</center>